<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Depression Detector</title>
</head>
<body>
  <div class="loader">
    <div></div>
  </div>
    <div class="content">
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
              <i class="fas fa-bars"></i>
          </span>
      <a href="#" class="logo">ABCv2</a>
      <ul class="main-nav" id="js-menu">
        <li>
          <a href="#" class="nav-links">Home</a>
        </li>
        <li>
          <a href="#tweepression" class="nav-links">Tweepression</a>
        </li>
        <li>
          <a href="#projects" class="nav-links">Questionnaire</a>
        </li>
        <li>
          <a href="#" class="nav-links">Results</a>
        </li>
      </ul>
    </nav>
    
    <!-- Twitter -->
    <div class="wrapper" id="tweepression">
      <ul>
      {% for tweet in data %}   
          <li>{{ tweet }}</li>     
      {% endfor %}
      </ul>
      <form action="{{ url_for('results_by_username') }}" method="POST">
        <div class="label">Find your twitter account</div>
        <div class="searchBar">
            <input id="username" type="text" name="username" placeholder="Search" value="" />
              <button id="usernameSubmit" type="submit" name="usernameSubmit", onclick="loading();"> 
              <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
              </svg>
            </button>
        </div>
      </form>
    </div>

      <!-- Questionnaire -->
  <section id="projects" class="projects-section">
    <h2>Take the quiz</h2>
    
    <form action="{{ url_for('results_by_questions') }}" method="POST">
    <div class="projects-grid">
      
        <div> 
            <h5>Little interest or pleasure in doing things</h5>
            <ul class="list-group">
                <li><div>
                  <input type="radio" id="a10" name="a1" value="0" required="required">
                  <label for="a10">Not at all.</label>
                </div></li>
                <li><div>
                    <input type="radio" id="a11" name="a1" value="1" required="required">
                    <label for="a11">Several days.</label>
                </div></li>
                </li>
                <li><div>
                    <input type="radio" id="a12" name="a1" value="2" required="required">
                    <label for="a12">More than half the days.</label>
                </div></li>
                <li><div>
                    <input type="radio" id="a13" name="a1" value="3" required="required">
                    <label for="a13">Nearly every day.</label>
                </div></li>
              </ul>

              <h5>Very annoyed</h5>
              <ul class="list-group">
                  <li><div>
                    <input type="radio" id="a20" name="a2" value="0" required="required">
                    <label for="a20">Not at all.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a21" name="a2" value="1" required="required">
                      <label for="a21">Several days.</label>
                  </div></li>
                  </li>
                  <li><div>
                      <input type="radio" id="a22" name="a2" value="2" required="required">
                      <label for="a22">More than half the days.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a23" name="a2" value="3" required="required">
                      <label for="a23">Nearly every day.</label>
                  </div></li>
                </ul>

                <h5>Questio 3</h5>
              <ul class="list-group">
                  <li><div>
                    <input type="radio" id="a30" name="a3" value="0" required="required">
                    <label for="a30">Not at all.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a31" name="a3" value="1" required="required">
                      <label for="a31">Several days.</label>
                  </div></li>
                  </li>
                  <li><div>
                      <input type="radio" id="a32" name="a3" value="2" required="required">
                      <label for="a32">More than half the days.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a33" name="a3" value="3" required="required">
                      <label for="a33">Nearly every day.</label>
                  </div></li>
                </ul>

                <h5>Question 4</h5>
              <ul class="list-group">
                  <li><div>
                    <input type="radio" id="a40" name="a4" value="0" required="required">
                    <label for="a40">Not at all.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a41" name="a4" value="1" required="required">
                      <label for="a41">Several days.</label>
                  </div></li>
                  </li>
                  <li><div>
                      <input type="radio" id="a42" name="a4" value="2" required="required">
                      <label for="a42">More than half the days.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a43" name="a4" value="3" required="required">
                      <label for="a43">Nearly every day.</label>
                  </div></li>
                </ul>

                <h5>Question 5</h5>
              <ul class="list-group">
                  <li><div>
                    <input type="radio" id="a50" name="a5" value="0" required="required">
                    <label for="a50">Not at all.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a51" name="a5" value="1" required="required">
                      <label for="a51">Several days.</label>
                  </div></li>
                  </li>
                  <li><div>
                      <input type="radio" id="a52" name="a5" value="2" required="required">
                      <label for="a52">More than half the days.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a53" name="a5" value="3" required="required">
                      <label for="a53">Nearly every day.</label>
                  </div></li>
                </ul>

                <h5>Question 6</h5>
              <ul class="list-group">
                  <li><div>
                    <input type="radio" id="a60" name="a6" value="0" required="required">
                    <label for="a60">Not at all.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a61" name="a6" value="1" required="required">
                      <label for="a61">Several days.</label>
                  </div></li>
                  </li>
                  <li><div>
                      <input type="radio" id="a62" name="a6" value="2" required="required">
                      <label for="a62">More than half the days.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a63" name="a6" value="3" required="required">
                      <label for="a63">Nearly every day.</label>
                  </div></li>
                </ul>

                <h5>Quetion 7</h5>
              <ul class="list-group">
                  <li><div>
                    <input type="radio" id="a70" name="a7" value="0" required="required">
                    <label for="a70">Not at all.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a71" name="a7" value="1" required="required">
                      <label for="a71">Several days.</label>
                  </div></li>
                  </li>
                  <li><div>
                      <input type="radio" id="a72" name="a7" value="2" required="required">
                      <label for="a72">More than half the days.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a73" name="a7" value="3" required="required">
                      <label for="a73">Nearly every day.</label>
                  </div></li>
                </ul>

                <h5>Question 8</h5>
              <ul class="list-group">
                  <li><div>
                    <input type="radio" id="a80" name="a8" value="0" required="required">
                    <label for="a80">Not at all.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a81" name="a8" value="1" required="required">
                      <label for="a81">Several days.</label>
                  </div></li>
                  </li>
                  <li><div>
                      <input type="radio" id="a82" name="a8" value="2" required="required">
                      <label for="a82">More than half the days.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a83" name="a8" value="3" required="required">
                      <label for="a83">Nearly every day.</label>
                  </div></li>
                </ul>

                <h5>Question 9</h5>
              <ul class="list-group">
                  <li><div>
                    <input type="radio" id="a90" name="a9" value="0" required="required">
                    <label for="a90">Not at all.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a91" name="a9" value="1" required="required">
                      <label for="a91">Several days.</label>
                  </div></li>
                  </li>
                  <li><div>
                      <input type="radio" id="a92" name="a9" value="2" required="required">
                      <label for="a92">More than half the days.</label>
                  </div></li>
                  <li><div>
                      <input type="radio" id="a93" name="a9" value="3" required="required">
                      <label for="a93">Nearly every day.</label>
                  </div></li>
                </ul>
              <button class="btn btn-info" id="questionSubmit" type="submit">Submit</button>> 
            </div>
    </div>
    </form> 
    
  </section>

  </div>
    <script>

        function loading() {
          $(".loader").show();
          $(".content").hide();  
        }

        /*
        $(window).on("load", function() {
          $(".loader").fadeOut(1000);
          $(".content").fadeIn(1000);
        })
        */

        let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function() {
        mainNav.classList.toggle("active");
        });
    </script>
    
  </body>

</html>