<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>

<body>
    <div class="tajuk" id="home">Depression Detector</div>
    <div class="explain">By entering your Twitter username, this depression indicator can identify the potential of you having depression by collecting textual data from your tweets.
    </div>

    <button>
        <a class="button btnStart" href="#tweepression">Start</a>
    </button>

    <nav>
        <div class="logo">ABCv2</div>
        <ul class="links">
            <li><a href="#home">Home</a></li>
            <li><a href="#tweepression">Tweepression</a></li>
            <li><a href="#results">Results</a></li>
            <li><a href="#recommendations">Ways to Defeat Depression</a></li>
        </ul>
    </nav>

    <div class="container">
        <img src="static/landing.png" alt="">
    </div>

    <!-- Twitter -->
    <div class="wrapper" id="tweepression">
      <form action="{{ url_for('results_by_username') }}" method="POST">
        <div class="enterUsername">
            <P>Enter your twitter username:</P>
        </div>
        <div class="searchBar">
            <input id="username" type="text" name="username" placeholder="@username" value="" />
            <button id="usernameSubmit" type="submit" name="usernameSubmit">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#666666"
                        d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                </svg>
            </button>
        </div>
      </form>
    </div>

    <script>
        var my_element = document.getElementById("my_element");

        my_element.scrollIntoView({
          behavior: "smooth",
          block: "start",
          inline: "nearest"
        });

    </script>

    <div class="twitter">
        <img src="static/twitter.png" alt="">
    </div>

    <div class = "center" id="results">
        <P class="headerResults">Results</P>
    </div>

    <div class="results">
          <ul>
          {% for tweet in data %}
              <li>{{ tweet }}</li>
          {% endfor %}
          </ul>
    </div>

    <div class = "center" id="recommendations">
        <P class="headerRecommendations">Recommendations of activities to overcome depression</P>
    </div>
    {% if data %}
    <div>
          <dl>
              <li class="recommendations">Exercise</li>
              <dd class="recommendationsDetails">"Exercise changes the brain chemistry and bodily functions,
                  and elevates mood" - Gadhia-Smith</dd>
              <dd class="recommendationsDetails">Choose among exercise like: brisk walking, jogging, weight training,
                  water aerobics, swimming, dancing, treadmill, biking, hiking, fitness trails, paddle boarding, kayaking,
                  rock climbing, skiing, tennis</dd>
              <li class="recommendations">Mindfulness</li>
              <dd class="recommendationsDetails">"The ability to pay attention to one's body, thoughts and emotions in a
                  nonjudgmental way can have antidepressant effect" - Richard Davidson</dd>
              <dd class="recommendationsDetails">The idea is that through strengthening our mental muscles, we may become
                  more mindful and composed in the face of adversity and stress.</dd>
              <dd class="recommendationsDetails">Try these activities: yoga, meditation, breathing exercise</dd>
              <li class="recommendations">Rest</li>
              <dd class="recommendationsDetails">"If you can regulate your sleep, your mood, hormones, appetite and energy
                  level will be optimized" - Gadhia-Smith</dd>
              <dd class="recommendationsDetails">Try these steps to improve your sleep quality: set a sleep routine,
                  dim lights, avoid late-day or evening coffee, sleep in uncluttered environment</dd>
              <li class="recommendations">Social Interactions</li>
              <dd class="recommendationsDetails">"Social connection is a basic need. Humans are pack animals and we need to
                  be with each other" - Gadhia-Smith</dd>
              <dd class="recommendationsDetails">Few ways to connect with people who make you feel more optimistic: visit a
                  friend or family member, grab lunch or get together for dinner, stay in touch by phone, meet virtually via video call</dd>
              <li class="recommendations">Therapy</li>
              <dd class="recommendationsDetails">Cognitive behavioral therapy: helps you change how you think and behave</dd>
              <dd class="recommendationsDetails">Mindfulness-based cognitive therapy: combination of mindfulness mediation and
                  cognitive behavioral therapy</dd>
              <dd class="recommendationsDetails">Interpersonal therapy: a series of one-on-one or group therapy sessions</dd>
          </dl>
    </div>
    {% endif %}
</body>
